/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
}
::selection{
  color: #000;
  background: #fff;
}
.main-title{
    padding: 10px 20PX;
}










.main-teaser .sub-teaser .pre {
    
}


.main-teaser .sub-teaser .des{
  
} */
 .teasers-wrapper p{
  margin-left: 50%;
 }